
<div class="container">
  <div class="row">
    <div class="form-group">
      <div>
        <h1>Welcome to short.com</h1>
        <p>Please enter your URL here</p>
      </div>
      <%= form_for :url, url: url_shortener_create_path do |form| %>
        <%= form.text_field :url, class:"form-control" %>
        <br/>
        <%= form.submit "SHORTEN", class:"btn btn-primary" %>
      <% end %>
    <div>
  <div>
<div>